In [ ]:
import numpy as np 
import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json 
!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim
import requests
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library
print('Folium installed')
print('Libraries imported.')

Solving environment: -

In [1]:
import pandas as pd
data = pd.read_csv('http://cocl.us/Geospatial_data')
data

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
5           M1J  43.744734 -79.239476
6           M1K  43.727929 -79.262029
7           M1L  43.711112 -79.284577
8           M1M  43.716316 -79.239476
9           M1N  43.692657 -79.264848
10          M1P  43.757410 -79.273304
11          M1R  43.750072 -79.295849
12          M1S  43.794200 -79.262029
13          M1T  43.781638 -79.304302
14          M1V  43.815252 -79.284577
15          M1W  43.799525 -79.318389
16          M1X  43.836125 -79.205636
17          M2H  43.803762 -79.363452
18          M2J  43.778517 -79.346556
19          M2K  43.786947 -79.385975
20          M2L  43.757490 -79.374714
21          M2M  43.789053 -79.408493
22          M2N  43.770120 -79.408493
23          M2P  43.752758 -79.400049
24          M2R  43.782736 -79.442259
25          M3A  43.753259 -79.329656
26          M3B  43.745906 -79.352188
27          M3C  43.725900 -79.340923
28          M3H  43.754328 -79.442259
29          M3J  43.767980 -79.487262
..          ...        ...        ...
73          M6C  43.693781 -79.428191
74          M6E  43.689026 -79.453512
75          M6G  43.669542 -79.422564
76          M6H  43.669005 -79.442259
77          M6J  43.647927 -79.419750
78          M6K  43.636847 -79.428191
79          M6L  43.713756 -79.490074
80          M6M  43.691116 -79.476013
81          M6N  43.673185 -79.487262
82          M6P  43.661608 -79.464763
83          M6R  43.648960 -79.456325
84          M6S  43.651571 -79.484450
85          M7A  43.662301 -79.389494
86          M7R  43.636966 -79.615819
87          M7Y  43.662744 -79.321558
88          M8V  43.605647 -79.501321
89          M8W  43.602414 -79.543484
90          M8X  43.653654 -79.506944
91          M8Y  43.636258 -79.498509
92          M8Z  43.628841 -79.520999
93          M9A  43.667856 -79.532242
94          M9B  43.650943 -79.554724
95          M9C  43.643515 -79.577201
96          M9L  43.756303 -79.565963
97          M9M  43.724766 -79.532242
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [56]:
data = pd.DataFrame(data)
data.head()

  Postal Code            Latitude           Longitude
0         M1B  43.806686299999996  -79.19435340000001
1         M1C          43.7845351  -79.16049709999999
2         M1E          43.7635726         -79.1887115
3         M1G          43.7709921  -79.21691740000001
4         M1H           43.773136  -79.23947609999999

In [3]:
import urllib.request
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = urllib.request.urlopen(url)
from bs4 import BeautifulSoup
soup = BeautifulSoup(page, "lxml")
all_tables=soup.findAll("table")
right_table = soup.find('table',{'class':'wikitable'})
A=[]
B=[]
C=[]
for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))
import pandas as pd
df=pd.DataFrame(A,columns=['Postcode'])
df['Borough']=B
df['Neighborhood']=C
df.head()

  Postcode            Borough                 Neighborhood
0     M1A
      Not assigned


1     M2A
      Not assigned


2     M3A
        North York
                   Parkwoods

3     M4A
        North York
            Victoria Village

4     M5A
  Downtown Toronto
  Regent Park / Harbourfront

In [4]:
df1=df.drop([0,1,7,10,15,16,19,24,25,28,29,33,34,35,37,38,42,43,44,51,52,53,60,61,62,69,70,71,78,79,87,88,96,97,101,105,106,110,115,118,119,123,124,125,127,128,131,132,133,134,136,137,140,141,145,146,149,150,154,155,158,159,161,162,163,164,166,167,170,171,172,173,174,175,176,177,179])
df1.head()

  Postcode            Borough                                   Neighborhood
2     M3A
        North York
                                     Parkwoods

3     M4A
        North York
                              Victoria Village

4     M5A
  Downtown Toronto
                    Regent Park / Harbourfront

5     M6A
        North York
             Lawrence Manor / Lawrence Heights

6     M7A
  Downtown Toronto
  Queen's Park / Ontario Provincial Government

In [5]:
df1.reset_index(drop=True, inplace=True)
df1.head()

  Postcode            Borough                                   Neighborhood
0     M3A
        North York
                                     Parkwoods

1     M4A
        North York
                              Victoria Village

2     M5A
  Downtown Toronto
                    Regent Park / Harbourfront

3     M6A
        North York
             Lawrence Manor / Lawrence Heights

4     M7A
  Downtown Toronto
  Queen's Park / Ontario Provincial Government

In [17]:
df2=df1.sort_values(by=['Postcode'])
df2.head()
df2.reset_index(drop=True, inplace=True)
df2.head()

  Postcode       Borough                               Neighborhood
0     M1B
  Scarborough
                           Malvern / Rouge

1     M1C
  Scarborough
  Rouge Hill / Port Union / Highland Creek

2     M1E
  Scarborough
       Guildwood / Morningside / West Hill

3     M1G
  Scarborough
                                    Woburn

4     M1H
  Scarborough
                                 Cedarbrae

In [48]:
df3 =df2.rename(columns ={'Postcode':'Postal Code'})
df3.head()

  Postal Code       Borough                               Neighborhood
0        M1B
  Scarborough
                           Malvern / Rouge

1        M1C
  Scarborough
  Rouge Hill / Port Union / Highland Creek

2        M1E
  Scarborough
       Guildwood / Morningside / West Hill

3        M1G
  Scarborough
                                    Woburn

4        M1H
  Scarborough
                                 Cedarbrae

In [57]:
data.reset_index(drop=True, inplace=True)

df3.reset_index(drop=True, inplace=True)
Result = pd.concat([df3, data], axis=1)
Result

,Postal Code,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,M1B,43.806686299999996,-79.19435340000001
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,M1C,43.7845351,-79.16049709999999
2,M1E,Scarborough,Guildwood / Morningside / West Hill,M1E,43.7635726,-79.1887115
3,M1G,Scarborough,Woburn,M1G,43.7709921,-79.21691740000001
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.23947609999999
5,M1J,Scarborough,Scarborough Village,M1J,43.7447342,-79.23947609999999
6,M1K,Scarborough,Kennedy Park / Ionview / East Birchmount Park,M1K,43.7279292,-79.26202940000002
7,M1L,Scarborough,Golden Mile / Clairlea / Oakridge,M1L,43.711111700000004,-79.2845772
8,M1M,Scarborough,Cliffside / Cliffcrest / Scarborough Village W...,M1M,43.716316,-79.23947609999999
9,M1N,Scarborough,Birch Cliff / Cliffside West,M1N,43.692657000000004,-79.2648481
10,M1P,Scarborough,Dorset Park / Wexford Heights / Scarborough To...,M1P,43.7574096,-79.27330400000001
11,M1R,Scarborough,Wexford / Maryvale,M1R,43.750071500000004,-79.2958491
12,M1S,Scarborough,Agincourt,M1S,43.7942003,-79.26202940000002
13,M1T,Scarborough,Clarks Corners / Tam O'Shanter / Sullivan,M1T,43.7816375,-79.3043021
14,M1V,Scarborough,Milliken / Agincourt North / Steeles East / L'...,M1V,43.8152522,-79.2845772
15,M1W,Scarborough,Steeles West / L'Amoreaux West,M1W,43.799525200000005,-79.3183887
16,M1X,Scarborough,Upper Rouge,M1X,43.836124700000006,-79.20563609999999
17,M2H,North York,Hillcrest Village,M2H,43.8037622,-79.3634517
18,M2J,North York,Fairview / Henry Farm / Oriole,M2J,43.7785175,-79.3465557
19,M2K,North York,Bayview Village,M2K,43.7869473,-79.385975
20,M2L,North York,York Mills / Silver Hills,M2L,43.7574902,-79.37471409999999
21,M2M,North York,Willowdale / Newtonbrook,M2M,43.789053,-79.40849279999999
22,M2N,North York,Willowdale,M2N,43.7701199,-79.40849279999999
23,M2P,North York,York Mills West,M2P,43.752758299999996,-79.4000493
24,M2R,North York,Willowdale,M2R,43.7827364,-79.4422593
25,M3A,North York,Parkwoods,M3A,43.7532586,-79.3296565
26,M3B,North York,Don Mills,M3B,43.745905799999996,-79.352188
27,M3C,North York,Don Mills,M3C,43.72589970000001,-79.340923
28,M3H,North York,Bathurst Manor / Wilson Heights / Downsview No...,M3H,43.7543283,-79.4422593
29,M3J,North York,Northwood Park / York University,M3J,43.7679803,-79.48726190000001
...,...,...,...,...,...,...
73,M6C,York,Humewood-Cedarvale,M6C,43.6937813,-79.42819140000002
74,M6E,York,Caledonia-Fairbanks,M6E,43.6890256,-79.453512
75,M6G,Downtown Toronto,Christie,M6G,43.669542,-79.4225637
76,M6H,West Toronto,Dufferin / Dovercourt Village,M6H,43.66900510000001,-79.4422593
77,M6J,West Toronto,Little Portugal / Trinity,M6J,43.647926700000006,-79.4197497
78,M6K,West Toronto,Brockton / Parkdale Village / Exhibition Place,M6K,43.6368472,-79.42819140000002
79,M6L,North York,North Park / Maple Leaf Park / Upwood Park,M6L,43.713756200000006,-79.4900738
80,M6M,York,Del Ray / Mount Dennis / Keelsdale and Silvert...,M6M,43.6911158,-79.47601329999999
81,M6N,York,Runnymede / The Junction North,M6N,43.67318529999999,-79.48726190000001
82,M6P,West Toronto,High Park / The Junction South,M6P,43.6616083,-79.46476329999999
83,M6R,West Toronto,Parkdale / Roncesvalles,M6R,43.6489597,-79.456325
84,M6S,West Toronto,Runnymede / Swansea,M6S,43.6515706,-79.4844499
85,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,M7A,43.6623015,-79.3894938
86,M7R,Mississauga,Canada Post Gateway Processing Centre,M7R,43.6369656,-79.61581899999999
87,M7Y,East Toronto,Business reply mail Processing CentrE,M7Y,43.6627439,-79.321558
88,M8V,Etobicoke,New Toronto / Mimico South / Humber Bay Shores,M8V,43.6056466,-79.50132070000001
89,M8W,Etobicoke,Alderwood / Long Branch,M8W,43.60241370000001,-79.54348409999999
90,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North,M8X,43.653653600000005,-79.5069436
91,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...,M8Y,43.6362579,-79.49850909999999
92,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...,M8Z,43.6288408,-79.52099940000001
93,M9A,Etobicoke,Islington Avenue,M9A,43.6678556,-79.53224240000002
94,M9B,Etobicoke,West Deane Park / Princess Gardens / Martin Gr...,M9B,43.6509432,-79.55472440000001
95,M9C,Etobicoke,Eringate / Bloordale Gardens / Old Burnhamthor...,M9C,43.6435152,-79.57720079999999
96,M9L,North York,Humber Summit,M9L,43.7563033,-79.56596329999999
97,M9M,North York,Humberlea / Emery,M9M,43.7247659,-79.53224240000002
98,M9N,York,Weston,M9N,43.706876,-79.51818840000001
99,M9P,Etobicoke,Westmount,M9P,43.696319,-79.53224240000002
100,M9R,Etobicoke,Kingsview Village / St. Phillips / Martin Grov...,M9R,43.6889054,-79.55472440000001
101,M9V,Etobicoke,South Steeles / Silverstone / Humbergate / Jam...,M9V,43.739416399999996,-79.5884369
102,M9W,Etobicoke,Northwest,M9W,43.706748299999994,-79.5940544

In [58]:
My_data =  pd.merge(df3, data, on='Postal Code', how='outer')

In [59]:
My_data = pd.merge(df3,data[['Postal Code', 'Latitude', 'Longitude']],
                 on='Postal Code', 
                 how='outer')